#app-wdl {
  padding: 20px 0;
  position: relative;
}
#app-wdl ul li {
  list-style: none;
}

#app-wdl .action-buttons {
  position: absolute;
  left: 25px;
  top: 20px;
  width: 500px;
}

#app-wdl .svg-box {
  border: 2px solid #f1f1f2;
  background: #fafafb;
}

#app-wdl .node-g,
#app-wdl .list-group-item {
  cursor: grab;
}

#app-wdl .outputs,
#app-wdl .inputs {
  cursor: pointer;
}
/* Params dialog styles*/
#app-wdl .dialog {
  position: absolute;
  right: 0%;
  top: 20px;
  height: 800px;
  background: #f5fcff;
}

#app-wdl .dialog .body {
  height: 100%;
  width: 350px;
  padding: 20px;
  color: #000;
}

#app-wdl .dialog h3 {
  font-size: 1.8em;
  color: #b9c0ea;
  font-weight: bold;
}

#app-wdl .dialog .card {
  background: white;
  padding: 1rem;
}

#app-wdl .dialog input {
  overflow: visible;
  background: rgb(0 0 0 / 0%);
  border: none;
  outline: none;
}

#app-wdl .dialog .params-ul {
  margin: 0;
  padding: 0;
}

#app-wdl .plus-sign {
  width: 25px;
  height: 25px;
  background: rgb(0 0 0 / 0%);
  position: relative;
  cursor: pointer;
  align-self: center;
}
#app-wdl .plus-sign::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #000;
  width: 3px;
  margin-left: -3px;
  left: 50%;
  top: 3px;
  bottom: 3px;
  z-index: 2;
}
#app-wdl .plus-sign::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #000;
  height: 3px;
  margin-top: -3px;
  top: 50%;
  left: 1px;
  right: 3px;
  z-index: 2;
}
/* #app-wdl .dialog .params-ul .name {
  font-size: 12px;
} */

#app-wdl .dialog .params-ul li {
  margin: 15px 0;
}

#app-wdl .dialog .close-button {
  position: absolute;
  bottom: 20px;
}

#app-wdl .dialog .closeBtn {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

#app-wdl .params-ul .name {
  margin-bottom: 10px;
  word-break: break-all;
}

#app-wdl path {
  cursor: pointer;
}
#app-wdl rect {
  cursor: -webkit-grab;
}

#app-wdl .context_menu {
  position: fixed;
  width: 90px;
  background: #fff;
  z-index: 1;
  border: 1px solid #eee;
  box-shadow: 0 0 5px #eee;
}

#app-wdl .context_menu ul {
  padding: 5px;
  margin: 0;
}

#app-wdl .context_menu ul li {
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
  line-height: 1.4em;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  color: #000;
}

#app-wdl .context_menu ul li:hover {
  color: #999999;
}
#app-wdl .context_menu ul li:active {
  color: rgb(169 169 169);
}
#app-wdl .context_menu ul li::nth-last-child(-n + 1) {
  border: none;
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: #0065ba;
}

.button-error {
  background: rgb(202, 60, 60);
  /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20);
  /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221);
  /* this is a light blue */
}
